.posts {
  font-family: Roboto;
  padding: 4rem 11rem;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 3rem 1.875rem;
  flex-wrap: wrap;
  @media only screen and (max-width: 60rem) {
    padding: 1.75rem 5rem;
  }
  @media only screen and (max-width: 46.25rem) {
    padding: 1.75rem 2.5rem;
  }
  a {
    text-decoration: none;
  }

  .post {
    width: 22rem;
    &:hover .title {
      text-decoration: underline;
    }
  }
  img {
    width: 22rem;
    height: 14.375rem;
    object-fit: cover;
  }
  .category {
    font-weight: 700;
    font-size: 0.8125rem;
    color: #eb0028;
    margin-top: 1rem;
  }
  .title {
    font-weight: 700;
    font-size: 1.5rem;
    color: #000000;
    margin-top: 1rem;
  }
  .details {
    font-weight: 400;
    font-size: 0.75rem;
    color: #9b9b9b;
    margin-top: 1rem;
  }
  .author {
    font-weight: 500;
    color: #000000;
  }
  .description {
    margin-top: 1rem;
    font-size: 0.875rem;
    line-height: 1.25rem;

    color: #929292;
  }
}
